{{> include/header}}
<h1>Eléments</h1>
<div class="ui list">
{{#items}}
<div class="item">

{{nom}} 
</div>
<div class="item">
{{evaluation}}
</item>
<button onclick="window.location.href='/items/dec/{{nom}}'">-</button>
<button onclick="window.location.href='/items/inc/{{nom}}'">+</button>
<button onclick="window.location.href='/items/delete/{{nom}}'">X</button>
<hr>
{{/items}}
</div>
<form method="POST" action="/items/addNew" 
  modelAttribute="items">
  <div class="ui input">
    <input type="text" name="nom" />
    </div>
<input class="ui button" type="submit" value="Ajouter">
</form>
{{> include/footer}}